
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body>
    <img src="~/Images/logo.jpg" class="logo" />
    <h1>Welcome to Book Store Application</h1>
    <p>This is the home page of our Book Store Application</p>
</body>
</html>
