
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <img src="~/Images/logo.jpg" class="logo" />
    <input type="button" value="click me" class="btn btn-danger" />
    <h1>Welcome to Book Store Application</h1>
    <p>This is the home page of our Book Store Application :-</p>
</body>

<script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        //alert("page loaded");
    });
</script>
